
@{
    ViewData["Title"] = "Login";
}


<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Login an account</h2>
                        <form method="post">

                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email</label>
                                <input type="text" id="email" name="email" class="form-control" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control" />
                            </div>


                            <div class="row mb-5">
                                <div class="col d-flex justify-content-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                        <label class="text-body" for="form2Example31"> Remember me </label>
                                    </div>
                                </div>

                                <div class="col">
                                    <a href="#!">Forgot password?</a>
                                </div>
                            </div>


                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-block btn-lg mb-4"> Login </button>
                            </div>


                            <div class="text-center text-muted mt-5 mb-0">
                                <p>Not a member? <a class="fw-bold text-body" href="./register">Register</a></p>
                                <p>or sign up with:</p>
                                
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            const app = appClient();
            const form = $("form");
            form.validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                errorClass: 'is-invalid',
                validClass: 'is-valid',
                rules: {
                    "email": {
                        required: true,
                    },
                    "password": {
                        required: true,
                    }
                }
            });
            $("form").submit(function (event) {
                event.preventDefault();
                if (form.valid()) {
                    const payload = {
                        "email": event.currentTarget[0].value,
                        "password": event.currentTarget[1].value,
                    }
                    app.auth.login(payload).subscribe(
                        (resp) => {
                            sweetAlert.toast.success("Login successfully!");
                            app.auth.saveToken(resp.token);
                            window.location.href = '/';
                        },
                        (error) => {
                            sweetAlert.toast.error("Login failed, please check again!");
                            console.error(error);
                        }
                    );
                }
            });
        });

    </script>
}
