
@{
    ViewData["Title"] = "OrderEdit";
}

<h1>OrderEdit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
            <div class="form-group">
                <label for="orderId" class="control-label">Order Id</label>
                <input name="orderId" id="orderId" class="form-control" />
            </div>
            <div class="form-group">
                <label for="orderDate" class="control-label">Order Date</label>
                <input name="orderDate" id="orderDate" class="form-control" />
            </div>
            <div class="form-group">
                <label for="requiredDate" class="control-label">Required Date</label>
                <input name="requiredDate" id="requiredDate" class="form-control" />
            </div>
            <div class="form-group">
                <label for="shippedDate" class="control-label">Shipped Date</label>
                <input name="shippedDate" id="shippedDate" class="form-control" />
            </div>
            <div class="form-group">
                <label for="feight" class="control-label">Feight</label>
                <input name="feight" id="feight" class="form-control" />
            </div>
            <div class="form-group">
                <label for="memberId" class="control-label">Member Id</label>
                <input name="memberId" id="memberId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="../">Back to List</a>
</div>

