
@{
    ViewData["Title"] = "ProductIndex";
}

<h1>ProductIndex</h1>

<p>
    <a href="./create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th>Category Id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script>
        console.log("Test")
        const app = appClient();
        const tbody = $("tbody");
        let products = [];


        ; (function () {
            console.log("Test2")
            app.products.getAll().subscribe(
                (resp) => {
                    console.log(resp);
                    products = resp;
                    console.log(products);
                    render();
                }, (error) => {
                    alert("Server is error!");
                    console.error(error);
                }
            );
        })();

        const deleteItem = (id) => {
            if (confirm('Are You Sure?')) {
                app.products.delete(id).subscribe(
                    (res) => {
                        const removeIndex = products.findIndex(item => item.ProductId === id);
                        removeIndex && products.splice(removeIndex, 1);
                        render();
                    }, (error) => {
                        alert("Server is error!");
                        console.error(error);
                    }
                )
            }
        }

        const render = () => {
            let html = '';
            products.forEach((item) => 
            {
                html += `
                    <tr>
                        <td>
                            ${item.productId}
                        </td>
                        <td>
                            ${item.productName}
                        </td>
                        <td>
                            ${item.weight}
                        </td>
                        <td>
                            ${item.unitPrice}
                        </td>
                        <td>
                            ${item.unitsInStock}
                        </td>
                        <td>
                            ${item.categoryId}
                        </td>
                        <td>
                            <a href="./edit/${item.productId}"><button class="btn btn-secondary">Edit</button></a>
                            <a href="./details/${item.productId}"><button class="btn btn-info">Details</button></a>
                            <button class="btn btn-danger" onclick="deleteItem(${item.productId})">Delete</button>
                        </td>
                    </tr>
                    `;
            });
            console.log(html);
            tbody.html(html);
        }
    </script>
}
