@{
    ViewData["Title"] = "ProductIndex";
}

<h1>ProductIndex</h1>

<p>
    <a href="./create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th>Category Id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script>
        const tbody = $("tbody");
        let products = [];

        app.products.getAll().subscribe(
            (resp) => {
                products = resp;
                render();
            }, (error) => {
                sweetAlert.toast.error("Server is error!");
                console.error(error);
            }
        );

        const deleteItem = (id) => {
            sweetAlert.alert.confirm({
                title: 'Do you want to delete this product?',
                text: 'You will not be able to recover this product! Are you sure you want to delete it?'
            }).then((isConfirm) => {
                if (isConfirm.value) {
                    app.products.delete(id).subscribe(
                        (res) => {
                            const removeIndex = products.findIndex(item => item.productId === id);
                            removeIndex !== -1 && products.splice(removeIndex, 1);
                            render();
                        }, (error) => {
                            sweetAlert.toast.error("Internal Server Error!");
                            console.error(error);
                        }
                    )
                }
            });
        }

        const render = () => {
            let html = '';
            products.forEach((item) => {
                html += `
                                    <tr>
                                        <td>
                                            ${item.productId}
                                        </td>
                                        <td>
                                            ${item.productName}
                                        </td>
                                        <td>
                                            ${item.weight}
                                        </td>
                                        <td>
                                            ${item.unitPrice}
                                        </td>
                                        <td>
                                            ${item.unitsInStock}
                                        </td>
                                        <td>
                                            ${item.categoryId}
                                        </td>
                                        <td>
                                            <a href="products/edit?id=${item.productId}"><button class="btn btn-secondary">Edit</button></a>
                                            <a href="products/detail?id=${item.productId}"><button class="btn btn-info">Details</button></a>
                                            <button class="btn btn-danger" onclick="deleteItem(${item.productId})">Delete</button>
                                        </td>
                                    </tr>
                                    `;
            });
            tbody.html(html);
        }
    </script>
}
