@{
    ViewData["Title"] = "UserIndex";
}

<h1>UserIndex</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>OrderDate</th>
        <th>RequiredDate</th>
        <th>ShippedDate</th>
        <th>Feight</th>
        <th>MemberId</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>